@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

section{
    margin-bottom: 150px;
}

h1{
    font-size: 50px;
    font-weight: 500;
}

h2{
    font-weight: 400;
}

.theme_color{
    color: #ffa500;
}

.flex_container{
    display: flex;
}

.top_banner img{
    width: 85%;
}
.dream_bg img{
    width: 85%;
}

.half_width{
    width: 50%;
    padding-left: 2%;
    margin-left: 5%;
}

.regular_btn{
    background-color: #fa755e;
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.top_banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.exprience_item h1{
    font-size: 40px;
    font-weight: 500;
}

#full_stack_dev{
    border-left: 7px solid ;
    border-image: linear-gradient(#fa6655,#f78968);
    border-image-slice: 1;
}

.exprience_item{
    box-shadow: 10px 10px 40px #868484;
    width: 40%;
    padding: 2%;
    margin-left: 5%;
    margin-right: 2%;
}

#bady_dev{
    border-left: 7px solid ;
    border-image: linear-gradient(#0007ff,#00f3ff);
    border-image-slice: 1;
}

.exprience_area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.dream_bg{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}